.App {
  text-align: center;
}

body{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjOvSperRYjHH9-EHlKZJBfwvXy4rJpyerzHQsnp8DuuycYU5_);
  color: #fff !important;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  
}

.txn-history {
	text-align: left;
  display: flex;
  flex-direction: row;
}

.txn-list{
  padding : 12px 10px;
  border: 3px solid #fff;
  margin: 7px 0;
  flex: 60%;
}

.credit-amount {
	float: right;
}

.btn-group{
  color: #fff !important;
}


.btn {
	margin: 8px;
	border-radius: 20px !important;
	font-size: 12px;
}
